{% extends 'baseAdmin.html.twig' %}

{% block title %}utilisateurs{% endblock %}

{% block body %}

    <h1>Liste des utilisateurs</h1>

    <table class="table table-bordered table-dark text-center table-hover table-sm
    ">
        <thead>
            <tr>
                <th>N°</th>
                <th>Email</th>
                <th>Rôle(s)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %} 
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(' + ')|lower  }}</td>
                    <td>
                        <a href="{{ path('admin_users_update', {'id':user.id}) }}"><i class="fas fa-pen-square"></i></a>
                        <a href="{{ path('admin_users_delete', {'id':user.id}) }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>

{% endblock %}
